<app-general></app-general>

<div id="PORTFOLIO"></div>
<div class="container-fluid titsec">
  <h2 class="titulo">PORTFOLIO</h2>
</div>
<!-- SECCION PORTFOLIO -->
<section class="portfolio">
  <div class="contenido-seccion">
    <div class="galeria">
      <div class="proyecto">
        <a
          class="nav-item nav-link"
          [href]="miPortfolio.itemsPortfolio.item1.path"
        >
          <img
            class="pfImag"
            [src]="miPortfolio.itemsPortfolio.item1.img"
            alt=""
          />

          <div class="overlay">
            <h3>{{ miPortfolio.itemsPortfolio.item1.nombre }}</h3>
            <p>
              {{ miPortfolio.itemsPortfolio.item1.descripcion }}
            </p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          [href]="miPortfolio.itemsPortfolio.item2.path"
        >
          <img
            class="pfImag"
            [src]="miPortfolio.itemsPortfolio.item2.img"
            alt=""
          />

          <div class="overlay">
            <h3>{{ miPortfolio.itemsPortfolio.item2.nombre }}</h3>
            <p>
              {{ miPortfolio.itemsPortfolio.item2.descripcion }}
            </p>
          </div>
        </a>
      </div>
      <div class="proyecto">
        <a
          class="nav-item nav-link"
          [href]="miPortfolio.itemsPortfolio.item3.path"
        >
          <img
            class="pfImag"
            [src]="miPortfolio.itemsPortfolio.item3.img"
            alt=""
          />

          <div class="overlay">
            <h3>{{ miPortfolio.itemsPortfolio.item3.nombre }}</h3>
            <p>
              {{ miPortfolio.itemsPortfolio.item3.descripcion }}
            </p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          [href]="miPortfolio.itemsPortfolio.item4.path"
        >
          <img
            class="pfImag"
            [src]="miPortfolio.itemsPortfolio.item4.img"
            alt=""
          />

          <div class="overlay">
            <h3>{{ miPortfolio.itemsPortfolio.item4.nombre }}</h3>
            <p>
              {{ miPortfolio.itemsPortfolio.item4.descripcion }}
            </p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          [href]="miPortfolio.itemsPortfolio.item5.path"
        >
          <img
            class="pfImag"
            [src]="miPortfolio.itemsPortfolio.item5.img"
            alt=""
          />

          <div class="overlay">
            <h3>{{ miPortfolio.itemsPortfolio.item5.nombre }}</h3>
            <p>
              {{ miPortfolio.itemsPortfolio.item5.descripcion }}
            </p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          [href]="miPortfolio.itemsPortfolio.item6.path"
        >
          <img
            class="pfImag"
            [src]="miPortfolio.itemsPortfolio.item6.img"
            alt=""
          />

          <div class="overlay">
            <h3>{{ miPortfolio.itemsPortfolio.item6.nombre }}</h3>
            <p>
              {{ miPortfolio.itemsPortfolio.item6.descripcion }}
            </p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          [href]="miPortfolio.itemsPortfolio.item7.path"
        >
          <img
            class="pfImag"
            [src]="miPortfolio.itemsPortfolio.item7.img"
            alt=""
          />

          <div class="overlay">
            <h3>{{ miPortfolio.itemsPortfolio.item7.nombre }}</h3>
            <p>
              {{ miPortfolio.itemsPortfolio.item7.descripcion }}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
