<header id="header">
  <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand ml-auto" [href]="miPortfolio.APLink">
          <img
            [src]="miPortfolio.APImage"
            width="150px"
            class="d-inline-block align-top"
            alt="APLogo"
          />
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon ml-auto"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <div id="barranav" class="navbar-nav ml-auto">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/inicio"
                >INICIO</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/portfolio"
                >PORTFOLIO</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/sobre-mi"
                >SOBRE MI</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/contacto"
                >CONTACTO</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
